
.lh{
    width: 16px;
    overflow-x: scroll;
    width: 567px;
}

.cargando {
   margin: 0;
   padding: 0;
   border: none;
   width: 16px; 
   height: 16px;
   background:  url("../../icons/spinner.gif");
}

div.tabla {
   clear: none;
   overflow: auto;
}

div.fila{
   clear: both;
}

div.col_titulo {
   float: left;
   padding: 5px;
   background: #F0E0A0;
   border-color: #F0E0A0;
   border-style: solid;
   border-right-width: 0px;
   border-left-width: 0px;
   border-top-width: 0px;
   border-bottom-width: 1px;
}

div.col {
   float: left;
   padding: 5px;
   border-color: #F0E0A0;
   border-style: solid;
   border-right-width: 0px;
   border-left-width: 0px;
   border-top-width: 0px;
   border-bottom-width: 1px;
}
